*, ::after, ::before { box-sizing: border-box; }


:root {
    --primary: #f5f5f5;
    --popisky: #808080;
    --grafika: #4a83ed;
}
body {
    font-family: Merriweather, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--primary);
    font-weight: 400;
}
.obal {
    width: auto;
    margin: 0;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
header {
    font-size: 0.9rem;
    color: var(--primary);
    background-color: var(--grafika);
    background-image: linear-gradient(hsla(0 0% 0% /0.3),hsla(0 0% 0% /0.3)), url(images/island-hlavicka.jpg);
    text-align: center;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2.3rem;
}
h1 {
    font-size: 3rem;
    font-family: Raleway, sans-serif;
    margin: 0;
}
.autor {
    font-style: italic;
    color: #f5f5f5af;
    padding-top: 1rem;
    margin: 1.8rem 0;
}
.grafika-autor {
    position: relative;
}
.autor::before {
    position: absolute;
    content:"";
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    top: 0;
    background-color: #f5f5f5af;
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--popisky);
}
.menu {
    list-style: none;
    padding-left: 0;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 0.9rem;
    padding: 2.3rem;
    margin: 0;
}
.menu li {
    border-bottom: 1px solid #e6e6e6;
    padding: 0.4rem 0;
}
section p {
    padding: 0 1.6rem;
    font-size: 0.9rem;
}
section img {
    max-width: 100%;
    height: auto;
    padding-top: 2.4rem;
}
.obal-obrazku-sekce {
    margin-bottom: 3rem;
}
.copyright {
    margin: 0;
    text-align: center;
    font-size: 0.7rem;
    color: var(--popisky);
    font-family: Raleway, sans-serif;
}
.copyright a {
    color: var(--popisky);
}
h2 {
    font-family: Raleway, sans-serif;
    padding-left: 1.6rem;
    font-size: 1.6rem;
    margin-bottom: 3.8rem;
    margin-top: 3rem;
    position: relative;
}
h2::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100px;
    background-color: var(--grafika);
    left: -1.6rem;
    top: 4rem;
}
.fotogalerie {
    margin-top: 6rem;
}
.foto {
    margin: 0;
}
.fotogalerie img {
    width: 100%;
    height: auto;
    padding-top: 0;
}
.popisek {
    text-align: center;
    font-size: 0.65rem;
    line-height: 1.3;
    color: var(--popisky);
    font-family: Raleway, sans-serif;
    padding-bottom: 1.5rem;
}
.popisek a {
    color: var(--popisky);
}
.popisek::first-line {
    font-size: 1rem;
    font-weight: bold;
}
footer {
    background: rgb(216, 216, 216);
    background: linear-gradient(180deg, rgba(207,207,207,1) 0%, rgba(231,231,231,1) 15%);
    font-size: 0.7rem;
    color: var(--popisky);
    text-align: left;
    padding: 1.5rem 2.5rem 0.3rem 1.6rem;
}
footer a {
    color: var(--popisky);
}
@media screen and (min-width: 600px) {
    header {
        font-size: 1rem;
        padding: 1rem 2.3rem;
    }
    h1 {
        font-size: 4.3rem;
    }
    .autor::before {
        width: 70px;
    }
    section p {
        font-size: 1rem;
    }
    .copyright {
        color: var(--primary);
        padding: 0;
        font-size: 0.8rem;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
    .copyright a {
        color: var(--primary);
    }
    h2 {
        font-size: 1.9rem;
    }
    .obal-obrazku-sekce {
        position: relative;
    }
    .fotogalerie-obal-fotek {
        display: flex;
        flex-wrap: wrap;
    }
    .foto {
        width: 50%;
        position: relative;
    }
    .foto img {
        height: 100%;
        width: auto;
    }
    footer {
        font-size: 0.6rem;
    }
    .popisek {
        position: absolute;
        display: block;
        color: var(--primary);
        background-color: rgba(0, 0, 0, 0.522);
        width: 100%;
        /* popisek pres foto bez animace
        bottom: 0; */
        text-align: center;
        padding: 0.7rem;
    }
    .popisek a {
        color: var(--primary);
    }
    /* animace */
    .foto img,
    .popisek {
        transition: all 0.3s ease-in-out;
    }
    .foto:hover img {
        transform: scale(1.2,1.2);
    }
    .foto {
        overflow: hidden;
    }
    .popisek {
        opacity: 0;
    }
    .foto:hover .popisek{
        opacity: 1;
        transform: translateY(-63px);
    }
}
@media screen and (min-width: 690px) {
    .menu {
        display: flex;
        font-size: 0.75rem;
    }
    .menu li{
        min-width: 25%;
        border-left: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
    }
    .menu li:first-child {
        border-left: none;
    }
}
@media screen and (min-width: 1000px) {
    .obal {
        position: relative;
        top: -4.5rem;
        max-width: 960px;
        margin: 0 auto;
    }
    header {
        font-size: 1rem;
        padding: 5rem 18rem;
    }
    h1 {
        font-size: 6rem;
    }
    header p {
        margin-top: 0;
    }
    .menu {
        display: block;
    }
    .menu li{
        min-width: 25%;
        border-left: none;
        border-top: none;
    }
    h2 {
        font-size: 2.3rem;
        padding-left: 3rem;
    }
    section p {
        padding: 0 3.5rem 0 3rem;
    }
    h2::after {
        left: 0rem;
        top: 5.1rem;
    }
    .uvod,
    .co-videt {
        margin: 0 0 0 13rem;
    }
    .uvod .obal-obrazku-sekce,
    .co-videt .obal-obrazku-sekce {
        margin: 0 0 0 -13rem;            
    }
    .co-videt p:nth-child(8) {
        padding-top: 2.4rem;
    }
    .proc-jet {
        margin-right: 13rem;
    }
    .proc-jet .obal-obrazku-sekce {
        margin: 0 -13rem 0 0;            
    }
    .copyright {
        bottom: 1.5rem;
    }
    .foto {
        width: calc(1/3 * 100%);
    }
    footer {
        background: var(--primary);
        font-size: 0.85rem;
        padding: 0;
        max-width: 960px;
        margin:  0 auto;
        position: relative;
        top: -2.5rem;
    }
    .menu {
        position: absolute;
        text-align: left;
        width: 230px;
        padding-left: 3rem;
        padding-top: 3rem;
    }
    .uvod {
        padding-top: 2rem;
    }
}
